
__pycache__/

**/*.whl
**/.claude

**/.litellm_cache

backupfiles/

1-evaluation/open-r1

*.json

Nemotron-Research-Reasoning-Qwen-1.5B_sigma-blend_fp32

outputs/

gen_results/

logs/
logs_backup/

qwenvl-svd

DeepScaleR-1.5B-Preview_sigma-blend_fp32

DeepSeek-R1-Distill-Qwen-1.5B_sigma-blend_fp32


svd_logs

*.pt
